
div.locations{
    border: var(--main-color-border);
    height: 100vh;
    background-color: burlywood;
    margin: 0;
    padding: 0px;
    overflow: auto;
}
.loc ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    border: 2px solid white;
    background-color: rgb(224, 245, 204);
    padding: 15px;
    margin: 5px 5px;
    
}

.loc button:hover {
    transform: scale(1.89);
  }