nav {
    background-color: rgba(10, 76, 82, 0.667);
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    align-items: center;
    padding: 0 1rem;
  }

  .logo-class {
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  li {

    display: inline-block;
    list-style-type: none;
    padding: 0 3.25rem;
  }


li a {
    color: black;
  }
  
  @media all and (max-width:720px){
      .container{
          flex-direction: column;
          align-items: flex-start;
      }
      /* nav{width: 100%;} */
       li {
          display: block;
          text-align: center;
          padding: 0.1rem 0;
          
      } 
  }